@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg: #270089;
  --background: #ffffff;
  --foreground: #5a5a5a;
  --lightgrey: #9b9c9f;
  --highlight: #3a7722;
  --highlght-hover: #013b41;
  --highlight-blue: #003068;
}
.namellipse{    white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding: 0 15px;}
.gradient{background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8799894957983193) 9%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8799894957983193) 9%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0.8799894957983193) 9%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);}
/* @media (prefers-color-scheme: dark) {
} */
*{font-family: "Montserrat", sans-serif; font-size: 14px; outline: none; color: var(--foreground); font-weight: 500;}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  /* background-image: url(/gaming.jpeg); */
  background-color: #f0f2f5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, button {
  color: inherit;
  text-decoration: none;
  transition: .5s;
}
.toaster-white, .toaster-white *{
  color:white !important
}
.buttonSet:hover svg{fill: var(--highlight);}
.userHover:hover *, .userHover:hover {
  color: #003068;
  transition: .5s;
}
.activeFriends, .activeFriends *{ color: var(--highlight-blue); font-weight: bold;}
.activeFriends{ font-weight: 700; border-bottom:1px solid var(--highlight-blue);}
.storiesFix{max-width: calc(100% - 595px); width: 100%;}
.slick-track{display: flex; gap:15px;}
.slick-slider{overflow: hidden; position: relative;}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button.slick-arrow.slick-prev {
  font-size: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 50%;
  margin-top: -15px;
  border-radius: 100%;
}

button.slick-arrow.slick-next {
  font-size: 0px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 50%;
  margin-top: -15px;
  border-radius: 100%;
}

button.slick-arrow.slick-next:before {
  width: 10px;
  height: 10px;
  border-right: 2px solid #000000;
  position: absolute;
  content: '';
  border-top: 2px solid #000000;
  transform: rotate(45deg);
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
}

button.slick-arrow.slick-prev:before {
  width: 10px;
  height: 10px;
  border-left: 2px solid #000000;
  position: absolute;
  content: '';
  border-bottom: 2px solid #000000;
  transform: rotate(45deg);
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
}

button.slick-arrow.slick-next.slick-disabled {
  opacity: .4;
  cursor: none;
}

button.slick-arrow.slick-prev.slick-disabled {
  opacity: 0;
  cursor: none;
}
.mainReply, .innerReply {
  position: relative;
}

.mainReply:before {
  content: '';
  width: 18px;
  height: calc(100% - 7px);
  position: absolute;
  left: -25px;
  top: 40px;
  background: transparent;
  border-left: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 0px 0px 0px 10px;
}
.innerReply:before{
  content: '';
  width: 0px;
  height: calc(100% - 34px);
  position: absolute;
  left: 15px;
  top: 40px;
  background: transparent;
  border-left: 2px solid #e3e3e3;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
